<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>Hey travel enthusiasts!</h2>
    <p>It's your friendly neighborhood wanderer, [Your Name], back at it again.  This time, however, I'm not here to regale you with tales of 
      faraway lands or hidden gems.  Nope, today I'm coming to you with a confession: I'm lost. Well, not literally (though that would be 
      a story for another day!), but lost in the best way possible – lost when it comes to choosing my next adventure!</p><br>
    <p>The travel bug has bitten me hard, and my trusty backpack is practically begging to be filled.  The world is a vast and 
      wonderful place, and there are just SO many options, it's making my head spin!  From bustling cityscapes to serene mountain ranges, 
      from ancient ruins whispering secrets to vibrant cultures ready to be explored, the possibilities are endless.</p><br>
    <p>So, fire away!  Leave a comment below with your recommendations, suggestions, and travel stories.  The more outlandish, adventurous, or 
      budget-savvy, the better!  Together, let's turn this travel rut into the map for my next unforgettable escapade.</p><br>
    <p>And who knows, maybe your recommendation will be the inspiration for the next exciting chapter in The Wanderlust Chronicles!</p><br>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>