<nav>
    <div class="site-title">
      <a href="/">
        <img src="https://www.creativefabrica.com/wp-content/uploads/2020/06/18/Plane-Navigation-Travel-Logo-Graphics-4399326-1.png" alt="logo">
      </a>
    </div>
    <ul>
      <li><a href="/">LOCATION</a></li>
      <li><a href="/about">ABOUT</a></li>
      <li><a href="/blogs/create">ADD SPOT</a></li>
      
    </ul>
  </nav>
  